<html>
    <title></title>
    <h1><center><font size="15px" bgcolor="black"> About us</center></h1></font>
    <h2>Automatic answer checker</h2>
<body style="background-color:orange;">
    An automatic answer checker application that checks and marks written answers similar to a human being. This software application is built to check subjective answers in an online examination and allocate marks to the user after verifying the answer. The system requires you to store the original answer for the system.

  <p> 1. INTRODUCTION

In todays world , currently there are many exam conduction ways , be it online exams or OMR sheet exams or MCQ type exams .Various examinations are conducted every day around the world . the most important aspect of any examination is the checking of the answer sheet of the student . Usually it is done by the teacher manually ,thus making it a very tedious job if the number of students is very large. In such a case automating the answer checking process would definitely prove to be of great use .

Automating the answer checking process would not only relieve the exam checker but the checking process would also get way more transparent and fair as there would not be any chances of biasedness from the teacher side . Nowadays various online tools are available for checking multiple choice questions but there are very few tools to check subjective answer type examinations .

This project aims to carry out the checking of subjective answer type examinations by implementing machine learning .This application can be used in various educational institutes for checking subjective answer type examinations . Further , on

improving the application , it can even be extended for conducting online subjective answer type examinations application , it can even be extended for conducting online subjective answer type examinations. On running the application , the main window of the application will give two options to the user , whether to login as an admin or as a student

. After selecting one of the options , the user will get to see a login window where he will be asked to login using his/her credentials . The admin will have the options like uploading the question paper and seeing the responses of the students . The student will have the option to upload the answer sheet and see the marks alloted to them there and then .
  </p>

 <center><button class="btn"><a href="/mjc/">Back</button></a>
 </center>
</body>
</html>