<html>
    <h1><center><font size="15px" >Contact us</h1></font>
<body style="background-color:orange;">
 <font size="5px" >  <p> Dr. Sharmila More<br>
        Address :
        Mit ACSC College,
        Alandi
        Pune- 412105
        Maharashtra (India)
        Email :sm@mitacsc.ac.in
        Phone : +91-0257-2237363,</p>
   
 <p>  Contact Email :
   
  <p> For BBA Faculty - bba.mit@acsc.in</p>
   
  <p> For BSC -cs  Faculty -  bcs.mit@acsc.in</p>
   
 <p>  For IT Faculty - it.mit@acsc.in</p>
 </p>  
 <p>
  Contact Email : For Examination
   
  <p> For BBA Faculty - exambba@mitacsc.in</p>
   
  <p> For BSC-cs Faculty - exambcs@mitacsc.in</p>
   
  <p> For IT Faculty - examit@mitacsc.in</p>
    </p></font>
    <center><button class="btn"><a href="/mjc/">Back</button></a>
    </center>
</body>
</html>