<html>
  {% load static %}
    <title></title>
    <h1><font size=""><center>Exam Related Instruction</center></font></h1></font>
<body style="background-color:orange;">
  <p>  1. The examination will comprise of Objective type Multiple Choice Questions (MCQs)</p>
<p>2. All questions are compulsory and each carries One mark.</p>
<p>3. The total number of questions, duration of examination, will be different based on
the course, the detail is available on your screen.</p>
<p>4. The Subjects or topics covered in the exam will be as per the Syllabus.</p>
<p>5. There will be NO NEGATIVE MARKING for the wrong answers.</p>
<br>
<br>
<center><button class="btn"><a href="{% url 'test' %}">Start Exam</button></a>
</center>
</body>
</html>
