<!DOCTYPE html> 
{% load static %} 
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/mjc.css' %}">
    <title>Automatic Answer Cheker</title>
</head>
<body>
    <nav class="navbar">
        
        <div class="title">
            <h1></h1>
            <p>MIT ACSC Alandi Pune<br>
               Affiiliated to Savitribai Phule Pune University<br>
               Accredited by NAAC with "A" Grade</p>
        </div>
        <div class="list">
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <a href="">Student</a>
            <a href="/admin/">Admin</a>
        </div>
    </nav>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <center>
                <h1> Student Registeration Form</h1>
            </center>
            <hr>
            <label> Firstname / Username</label>
            <input type="text" name="firstname" placeholder="Firstname" size="15" required />
            <label> Middlename: </label>
            <input type="text" name="middlename" placeholder="Middlename" size="15" required />
            <label> Lastname: </label>
            <input type="text" name="lastname" placeholder="Lastname" size="15" required />
            <div>
                <label> 
      Course :
      </label>

                <select>
      <option name="cource" value="Course">Course</option>
      <option name="bca" value="BCA">BCA</option>
      <option name="choice" value="BBA">BBA</option>
      <option name="choice" value="M.Tech">M.Tech</option>
      <option name="choice" value="BCS">BCS</option>
      <option name="choice" value="MBA">MBA</option>
      <option name="choice" value="MCA">MCA</option>
      <option name="choice" value="M.Tech">M.Tech</option>
      
      </select>
            </div>
            <div>
                <label> 
      Gender :
      </label><br>
                <input type="radio" value="Male" name="gender" checked> Male
                <input type="radio" value="Female" name="gender"> Female
                <input type="radio" value="Other" name="gender"> Other

            </div>
            <label> 
      Phone :
      </label>
      <input type="text" name="country code" placeholder="Country Code" value="+91" size="2" readonly/>
      <input type="text" maxlength="9999999999" name="phone" placeholder="phone no." size="10" / required> Current Address :
      <textarea cols="80" rows="2" name="address" placeholder="Current Address" value="address" required> </textarea>
       Password :
      <input type='password'class='input-field'placeholder='Enter Password' required>
      <button type="submit" class="registerbtn">Registration</button> 
      <div>
            Have an account? <a href="/login/">Login</a>
        </div>
    </form>
    <div class="footer">
        <div class="footer">
 
            <div class="t2">

                <h2>MIT ACSC Collage </h2>

                <p> Moshi-Alandi Road<br> Pune

                </p>

            </div>

            <div class="contact">

                <p>Phone : 8572889968<br> Email : pallavidhake2022@gmail.com<br> Web : mitacsc.com</p>

            </div>

        </div>
    </div>
</body>

</html>